<!DOCTYPE html>
<html>

<head>
    <link href="libs/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/fontawesome-free-5.9.0-web/css/all.min.css" rel="stylesheet">
    <link href="libs/alertify-1.11.4/css/alertify.min.css" rel="stylesheet">
    <link href="libs/alertify-1.11.4/css/themes/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="container main" id="app">
        <div class="row not-last">
            <div class="col-2 text-center">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary" id="addButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="addButton">
                        <form>
                            <input type="text" class="form-control form-control-sm" id="titleInput"
                                placeholder="Enter Title" v-model="addDropdownTitleInput">
                            <textarea type="text" class="form-control form-control-sm" id="descriptionInput" rows="3"
                                placeholder="Add an optional extended description..."
                                v-model="addDropdownDescriptionInput"></textarea>
                            <input type="text" class="form-control form-control-sm" id="tagsInput"
                                placeholder="Enter Tags" v-model="addDropdownTagInput" v-on:keyup.enter="addTag">
                            <div class="tags-group">
                                <div class="badge-wrapper" v-for="tag in addedTags">
                                    <button type="button" class="btn badge badge-secondary">
                                        {{ tag }} <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-light btn-sm" id="addButton2" v-on:click="addBookmark">
                                <i class="fas fa-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="dropdown">
                    <button type="button" class="btn btn-info" id="filterButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-filter"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="addButton">
                        <form>
                            <div class="search-group">
                                <input type="text" class="form-control form-control-sm" id="searchInput"
                                    v-model="searchInput" v-on:input="filterBookmarks">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <div class="tags-group" v-if="allTags.size > 0">
                                <div class="badge-wrapper" v-for="tag in Array.from(allTags)">
                                    <button v-bind:id="'btn-' + tag" type="button" class="btn badge badge-secondary" v-on:click="toggle(tag); filterBookmarks()">
                                        {{ tag }}
                                    </button>
                                </div>
                            </div>
                            <div class="form-check this-wesite-only-check">
                                <input type="checkbox" class="form-check-input" id="thisWebsiteOnlyCheck">
                                <label class="form-check-label small" for="thisWebsiteOnlyCheck">This website
                                    only</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2 text-center">
                <button type="button" class="btn btn-dark">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div v-if="bookmarks.length === 0">
                <div class="alert alert-light" role="alert">
                    There are no bookmarks saved in this web browser.
                </div>
            </div>
            <div class="list-group" v-if="bookmarks.length > 0">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                    v-for="bookmark in bookmarks" v-if="!bookmark.hidden">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ bookmark.title }}</h5>
                        <small class="text-muted">{{ bookmark.time.toLocaleString() }}</small>
                    </div>
                    <p class="mb-1 description">{{ bookmark.description }}</p>
                    <br />
                    <div v-if="bookmark.tags.length === 0">
                        <div class="badge-wrapper">
                            <span> </span>
                        </div>
                    </div>
                    <div class="tags-group nopadding" v-if="bookmark.tags.length > 0">
                        <div class="badge-wrapper" v-for="tag in bookmark.tags">
                            <button type="button" class="btn badge badge-secondary">
                                {{ tag }}
                            </button>
                        </div>
                    </div>
                    <i class="material-icons editButton">&#xE254;</i>
                    <i class="material-icons deleteButton">&#xE872;</i>
                </a>
            </div>
        </div>
    </div>

    <script src="libs/jquery-3.4.1/js/jquery-3.4.1.min.js"></script>
    <script src="libs/popper.js-1.15.0/umd/popper.min.js"></script>
    <script src="libs/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="libs/alertify-1.11.4/alertify.min.js"></script>
    <script src="libs/vuejs-2.6.10/js/vue.min.js"></script>

    <script src="js/custom.js"></script>
</body>

</html>